/* Starting block 1 styles */
.startingBlock1 {
  background: var(--bgImage) var(--bgPosition) / cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: -80px;

  /* Semi-transparent dark overlay */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--overlay);
    z-index: 0;
  }

  .text {
    font-weight: 600;
    line-height: var(--h1);
    color: var(--white);
    margin: 33% auto 0;
    position: relative;
    z-index: 1;
    text-align: center;

    .desktopTitle {
      font-size: 54px;
    }

    .mobileTitle {
      font-size: var(--titleFontSize);
    }

    .mobileTextDivider {
      font-size: var(--textDivider);
    }

    .mobileSubtitle {
      font-size: var(--subtitleFontSize);
      line-height: var(--subtitle2);
    }
  }

  @media (min-width: 900px) {
    .text {
      width: 80%;
      text-align: left !important;
    }
  }
}

/* Starting block 2 styles */
.startingBlock2 {
  background: var(--bgImage) var(--bgPosition) / cover no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: -80px;
}

/* Mission Statement styles */
.missionStatement {
  background: var(--primary-main);
  color: var(--white);

  .text {
    font-weight: 500;
    line-height: var(--h5);
  }

  @media (max-width: 899px) {
    padding: 7.5%;

    .text {
      font-size: 16px;
      text-align: center;
    }
  }

  @media (min-width: 900px) {
    padding: 2% 10%;

    .text {
      font-size: 24px;
      text-align: left;
    }
  }
}

/* Brand Slogan styles */
.brandSlogan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15vh;
  color: var(--color);

  .text {
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    line-height: var(--h5);
  }

  @media (min-width: 900px) {
    .text {
      font-size: 32px;
    }
  }
}

/* Promotion styles */
.promotions {
  background: var(--bgColor);
  color: var(--color);
  border-bottom: 1px solid var(--divider-color);

  .header {
    font-weight: 600;
  }

  @media (max-width: 899px) {
    .header {
      font-size: 18px;
    }

    .carousel {
      padding: 7.5% 0 5%;
    }
  }

  @media (min-width: 900px) {
    .header {
      font-size: 26px;
    }

    .content {
      padding: 2.5% 0;
    }
  }
}

/* Pagination Colours styles */
.paginationColour1 {
  :global(.MuiPaginationItem-root) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    font-weight: 500;
  }

  :global(.MuiPaginationItem-previousNext) {
    color: #08834e;
    &:hover {
      background: #08834e;
      color: var(--white);
    }
    &:disabled {
      background: transparent;
      color: var(--disable-main);
    }
  }
}

.paginationColour2 {
  :global(.MuiPaginationItem-root) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    font-weight: 500;
  }

  :global(.MuiPaginationItem-previousNext) {
    color: #c03853;
    &:hover {
      background: #c03853;
      color: var(--white);
    }
    &:disabled {
      background: transparent;
      color: var(--disable-main);
    }
  }
}

.paginationColour3 {
  :global(.MuiPaginationItem-root) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    font-weight: 500;
  }

  :global(.MuiPaginationItem-previousNext) {
    color: var(--white);
    &:hover {
      background: var(--white);
      color: #c03853;
    }
    &:disabled {
      background: transparent;
      color: #8a283c;
    }
  }
}

/* Category styles */
.category {
  color: var(--color);
  text-align: center;

  .avatar {
    background: var(--bgColor);
  }

  .name {
    margin-top: 10px;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 899px) {
    .avatar {
      width: 50px;
      height: 50px;
    }

    .name {
      font-size: 10px;
    }
  }

  @media (min-width: 900px) {
    .avatar {
      width: 100px;
      height: 100px;
    }

    .name {
      font-size: 16px;
    }
  }
}

/* Sort Filter styles */
.sortFilter {
  background: #e9e9e9;

  :global(.MuiInputLabel-root:active),
  :global(.MuiInputLabel-root.Mui-focused) {
    color: var(--selectThemeColor);
  }

  :global(.MuiOutlinedInput-root:hover) fieldset,
  :global(.MuiOutlinedInput-root.Mui-focused) fieldset {
    border-color: var(--selectThemeColor);
  }

  :global(.MuiSelect-root) {
    background: var(--white);
  }

  .actionOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .resetButton,
  .clearButton {
    color: var(--buttonColor);

    &:hover {
      background: var(--hover1Color);
    }
  }

  .sortButton,
  .applyButton {
    background: var(--buttonColor);

    &:hover {
      background: var(--hover2Color);
    }

    &:disabled {
      background: var(--divider-color);
      color: var(--disable-main);
    }
  }

  @media (max-width: 899px) {
    .actionOptions {
      gap: 8px;
    }
  }

  @media (min-width: 900px) {
    .actionOptions {
      gap: 16px;
    }
  }
}

.sortFilterMobileDialogPaper {
  width: 100% !important;
  height: 75vh !important;
  max-height: 75vh !important;
  margin: 0 !important;
  border-radius: 0 !important;

  .sortFilterMobileDialogTitle {
    font-weight: 600;
  }

  .sortFilterMobileFormControl {
    padding-bottom: 5%;
    border-bottom: 1px solid var(--divider-color);

    .sortFilterMobileFormLabel {
      font-weight: 500;
      margin-bottom: 2.5%;
    }
  }

  .sortFilterDialogActions {
    padding: 5%;

    .actionOptions {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;

      .clearButton {
        color: var(--buttonColor);

        &:hover {
          background: var(--hover1Color);
        }
      }

      .applyButton {
        background: var(--buttonColor);

        &:hover {
          background: var(--hover2Color);
        }

        &:disabled {
          background: var(--divider-color);
          color: var(--disable-main);
        }
      }
    }
  }
}

.sortFilterMobileDialogContainer {
  align-items: flex-start !important;
}

/* Sorted and Filtered Catalogue styles */
.sortedAndFilteredCatalogue {
  color: var(--titleColor);
  border-top: 1px solid var(--divider-color);

  .title {
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: var(--h3);
  }

  @media (max-width: 899px) {
    .title {
      font-size: 18px;
    }

    .carousel {
      padding: 7.5% 0 5%;
    }
  }

  @media (min-width: 900px) {
    .header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      .title {
        font-size: 26px;
      }
    }

    .resultsView {
      padding: 2.5% 0;
    }
  }
}

/* Brand Highlights styles */
.brandHighlights {
  color: var(--primary-main);
  text-align: center;

  .title {
    font-weight: 600;
    line-height: var(--h5);
  }

  .itemTitle {
    font-weight: 500;
    line-height: var(--h6);
  }

  .itemDescr {
    line-height: var(--body1);
  }

  @media (max-width: 899px) {
    border-bottom: 1px solid var(--divider-color);

    .stackContainer {
      width: 100%;

      .title {
        font-size: 18px;
      }

      .stackRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5% 0 var(--paddingBottom);
        border-bottom: var(--borderBottom);

        .avatar {
          width: 150px;
          height: 150px;
        }

        .itemTitle {
          font-size: 16px;
          margin: 5% 0;
        }

        .itemDescr {
          font-size: 14px;
        }
      }
    }
  }

  @media (min-width: 900px) {
    border-bottom: 1px solid var(--divider-color);

    .stackContainer {
      width: 100%;

      .title {
        font-size: 24px;
        padding-bottom: 2.5%;
      }

      .stackRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .stackItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 33.33%;

          .avatar {
            width: 150px;
            height: 150px;
          }

          .itemTitle {
            font-size: 20px;
            margin: 2.5% 0;
          }

          .itemDescr {
            margin: 0 7.5%;
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* Safety Pledge styles */
.safetyPledge {
  background: #00987b;
  color: var(--white);
  text-align: center;

  .title {
    font-weight: 600;
    line-height: var(--h5);
  }

  .itemTitle {
    font-weight: 500;
    line-height: var(--h6);
  }

  .itemDescr {
    line-height: var(--body1);
  }

  @media (max-width: 899px) {
    .stackContainer {
      width: 100%;

      .title {
        font-size: 18px;
      }

      .stackRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5% 0 var(--paddingBottom);
        border-bottom: var(--borderBottom);

        .avatar {
          width: 150px;
          height: 150px;
        }

        .itemTitle {
          font-size: 16px;
          margin: 2.5% 0;
        }

        .itemDescr {
          margin: 0 5%;
          font-size: 14px;
        }
      }
    }
  }

  @media (min-width: 900px) {
    .stackContainer {
      width: 100%;

      .title {
        font-size: 24px;
        padding-bottom: 2.5%;
      }

      .stackRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .stackItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 33.33%;

          .avatar {
            width: 150px;
            height: 150px;
          }

          .itemTitle {
            font-size: 20px;
            margin: 2.5% 0;
          }

          .itemDescr {
            margin: 0 7.5%;
            font-size: 16px;
          }
        }
      }
    }
  }
}
